<template name="GroupStats">

    <div class="group-stats-page">
        <div class="group-stats">
            <h3 class="stats-header">Summary Statistics</h3>
            <div class="stats">
                <div class="stats-top">
                    <div id="actions-donut">
                        <h4>Top 5 Actions</h4>
                        <div id="donut-container">
                            <canvas id="donutChart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <div id="weekly-points">
                        <h4>Points Over The Past Week</h4>
                        <canvas id="lineChart" width="400" height="400"></canvas>
                    </div>
                </div>
                <div class="stats-bottom">
                        <h4>Points Over Weeks Since Creation</h4>
                        <canvas id="lifetimeChart" width="800" height="400"></canvas>                    
                </div>
            </div>
        </div>
    </div>

</template>

