<template name="login">

    <form class="login-form form-inline">
        <div class="form-group login-group">
            <label>Username:</label> <input class="form-control" name="username" type="text">
        </div>
        <div class="form-group" style="padding-top:20px;">
            <div class="login-group"><label>Password:</label> <input class="form-control" name="password" type="password"></div>
            <div class="block"><a href="/">Forgot your password?</a></div>
        </div>
        <input class="btn btn-default login-group" type="submit" value="Login">        
    </form>

</template>

<template name="register">

    <form class="registration-form form">

        <div class="form-group">
            <label>First Name:</label> <input class="form-control" name="firstName" type="text">
        </div>
        <div class="form-group">
            <label>Last Name:</label> <input class="form-control" name="lastName" type="text">
        </div>
        <div class="form-group">
            <label>Email:</label> <input class="form-control" name="email" type="text">
        </div>
        <div class="form-group">
            <label>Username:</label> <input class="form-control" name="user" type="text">
        </div>
        <div class="form-group">
            <label>Password:</label> <input class="form-control" name="pw" type="password">
        </div>
        <div class="form-group">
            <label>Confirm Password:</label> <input class="form-control" name="confirm" type="password">
        </div>
        <div class="text-center">
            <input class="btn btn-default" type="submit" value="Sign Up">
        </div>
    </form>


</template>
