<template name="login">

    <form class="login-form form">
        <div class="form-group">
            <label>Username:</label> <input class="form-control" name="username" type="text">
        </div>
        <div class="form-group">
          <!-- TODO: Password field should be stars -->
            <label>Password:</label> <input class="form-control" name="password" type="password">
        </div>
        <input class="btn btn-default" type="submit" value="Login">        
    </form>

</template>

<template name="register">

    <form class="registration-form form">

        <div class="form-group">
            <label>First Name:</label> <input class="form-control" name="firstName" type="text">
        </div>
        <div class="form-group">
            <label>Last Name:</label> <input class="form-control" name="lastName" type="text">
        </div>
        <div class="form-group">
            <label>Username:</label> <input class="form-control" name="username" type="text">
        </div>
        <div class="form-group">
            <label>Email:</label> <input class="form-control" name="email" type="text">
        </div>
        <div class="form-group">
          <!-- TODO: Password field should be stars -->
            <label>Password:</label> <input class="form-control" name="password" type="text">
        </div>
        <div class="form-group">
          <!-- TODO: Password field should be stars -->
            <label>Confirm Password:</label> <input class="form-control" name="confirm" type="text">
        </div>
        <input class="btn btn-default" type="submit" value="Register">
    </form>


</template>
