<template name="home">

    <div class="row">
        <div class="action-samples col-md-6">
            <h2>You can help the environment!</h2><br>
            <div id="lights" class="action-sample">
                <img class="action-icon" src="/images/light-bulb.svg"/>
                <h3 class="action-text">Turn off the lights</h3>
            </div>
            <div id="bike" class="action-sample">
                <img class="action-icon" src="/images/bike.png"/>
                <h3 class="action-text">Bike to school</h3>
            </div>
            <div id="recycle" class="action-sample">
                <img class="action-icon" src="/images/recycle.png"/>
                <h3 class="action-text">Recycle your papers</h3>
            </div>
        </div>
        <div class="col-md-6">
            <h2 style="text-align:center;">Sign Up</h2><br>
            {{> register}}
        </div>
    </div>
</template>
