<template name="addCompetition">
    <div id="add-competition-title" class="add-title">
    	<span>Add a competition</span>
    </div>
    <form id="new-competition">
    	<div class="to-add form-group">
    		<label>Competition name: </label><input class="form-control" name="name" type="text">
    	</div>
    	<div class="to-add form-group">
    		<label>Description: </label><input class="form-control" name="description" type="text">
    	</div>
    	<div class="to-add form-group">
    		<label>Start Date: </label><input class="form-control" name="startDate" type="date">
    	</div>
    	<div class="to-add form-group">
    		<label>End Date: </label><input class="form-control" name="endDate" type="date">
    	</div>

    	<div id="competitionActions">
    		<div class="select-actions-header add-fields-header">
    			<h3>Select actions:</h3>
    		</div>
            <div id="actions-list" class="actions-list">
                {{#each getActions}}
                    <label class="action-to-add" for="action-id">{{title}}</label>
                    <input id="action-id" type="checkbox" name="{{_id}}">
                {{/each}}
            </div>
    	</div>

    	<div class="text-center">
    		<button type="submit" class="btn btn-default">Add new competition</button>
    	</div>
    </form>
</template>