<template name="addCompetition">
    <div id="add-competition-title" class="add-title">
    	<span>Add a competition</span>
    </div>
    <form id="derpCompetition">
    	<div class="to-add form-group">
    		<label>Competition name: </label><input class="form-control" name="name" type="text">
    	</div>
    	<div class="to-add form-group">
    		<label>Description: </label><input class="form-control" name="description" type="text">
    	</div>
    	<div class="to-add form-group">
    		<label>Start Date: </label><input class="form-control" name="startDate" type="date">
    	</div>
    	<div class="to-add form-group">
    		<label>End Date: </label><input class="form-control" name="endDate" type="date">
    	</div>

    	<div id="competitionActions">
    		<div class="select-actions-header add-fields-header">
    			<h3>Select actions:</h3>
    		</div>
    		{{#each getActions}}
    		<label class="action-to-add"><input type="checkbox" checked="true" name="{{_id}}">{{title}}</label>
    		{{/each}}
    	</div>

    	<div class="text-center">
    		<button type="submit" class="btn btn-default">Add new competition</button>
    	</div>
    </form>
</template>