<template name="profile">
    <div class="col-sm-7 actions">
        <div id="takeActions" class="section">
            <h3 class="section-heading">What actions have you taken today?</h3>
            {{> takeActions}}
        </div>
    </div>

    <div class="col-sm-3 groups">
        <h3>My Groups <span id="new-group">Make A New Group</span></h3> 
        <form class="new-group-form form">
            <div class="form-group">
                <label>Group Name:</label> <input class="form-control" name="groupname" type="text">
            </div>
            <input class="btn btn-default" type="submit" value="Create Group">        
        </form>
        {{#each group in getGroups}}
            <h4><a href="/group/{{group._id}}">{{group.name}}</a></h4>
        {{/each}}
        <h3>My Competitions</h3>
        {{#each comp in competitions}}
            <h4><a href="/competitions/{{comp._id}}">{{comp.name}}</a></h4>
        {{/each}}
    </div>
</template>

<!-- TODO: don't uncollapse when no fields, uncollapse on click on anywhere in panel, removing actions should remove from groups menu-->
