<template name="profile">
    <div class="col-sm-7 actions">
        <div id="takeActions" class="section">
            <h3 class="section-heading">What actions have you taken today?</h3>
            <div id="accordion" role="tablist" aria-multiselectable="true">
                {{#each actions}}
                <div class="panel panel-default action-panel">
                    <div class="panel-heading" role="tab" id="heading{{_id}}">
                    <h4 class="panel-title">
                        <div class="panel-title-box">
                            <div class="panel-title-text">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{_id}}" aria-expanded="true" aria-controls="collapse{{_id}}">
                                {{title}} 
                                {{#if isGlobalAction}}
                                - isGlobal
                                {{/if}}
                                </a>
                            </div>
                            <div>
                               <!-- This is a hack. -->
                               <button class="btn btn-sm action-button"><label class="button-label" for="submit{{_id}}">I did this!</label></button>
                            </div>
                        </div>
                    </h4>
                    </div>
                    <div id="collapse{{_id}}" class="panel-collapse collapse" data-toggle="false" role="tabpanel" aria-labelledby="heading{{_id}}">
                      <form class="form-horizontal action-form" id={{_id}}>
                        {{#each fields}}
                        <div class="form-group">
                            <label class="control-label col-xs-4 col-sm-3 col-md-3" for={{name}}>{{name}}:</label>
                            <div class="col-xs-8 col-sm-9 col-md-9">
                                <input class="form-control" type="number" name={{name}}>
                            </div>
                        </div>
                        {{/each}}
                        <!-- This is a hack. -->
                        <input type="submit" id="submit{{_id}}" class="hidden">
                      </form>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-sm-3 groups">
        <h3>My Groups <span id="new-group">Make A New Group</span></h3> 
        <form class="new-group-form form">
            <div class="form-group">
                <label>Group Name:</label> <input class="form-control" name="groupname" type="text">
            </div>
            <input class="btn btn-default" type="submit" value="Create Group">        
        </form>
        {{#each group in getGroups}}
            <h4><a href="/group/{{group._id}}">{{group.name}}</a></h4>
        {{/each}}
        <h3>My Competitions</h3>
        {{#each comp in competitions}}
            <h4>{{comp.name}}</h4>
        {{/each}}
    </div>
</template>

<!-- TODO: don't uncollapse when no fields, uncollapse on click on anywhere in panel, removing actions should remove from groups menu-->
