@import 'variables';
@import 'lib/elements';
@import 'lib/flex';

#admin-page{
    padding:10px;

    .section {
        margin-bottom: 20px;

        .subsection {
            display: block;
        }
    }

    .section-header{
        
        .section-title{
            .flex(1,1,0);
        }
        .new-tag{
            .align-self(flex-start);
            font-size: 14px;
        }
        .new-tag:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    #userDownload {
        display: block;
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .item-listing{
        .item-container{
            .display(block);

            .user-profile-link, .action-title{
                .flex(1,1,0);
            }
            .user-button{
                margin-left: 20px;
                height: 25px;
                width: 25px;
            }
        }
        .action-container {

            .action-title {
                .display(flex);
                .justify-content(space-between);
                .align-items(center);
            }
            .action-info {
                margin-top: 5px;
                /*background-color: rgba(255,255,255,0.8);*/
            }
            .form-group {
                margin-bottom: 0;
            }
        }
    }
    .make-unglobal:hover {
        color: @primaryLinkHoverColor;
    }
    .edit-form{
        display: none;
        margin:10px 50px;
        padding: 10px 30px;
        border: 1px solid rgba(150,150,150,1);
        border-radius: 5px;
        background-color: rgba(250,250,250,1);
    }
    .visible{
        display: block !important;
    }
    .hidden{
        display: none;
    }
}

.approve-action-panel {
    .panel-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            height: inherit;
        }
    }
    .action-form {
        padding: 20px;

        .form-group {
            margin-bottom: 0;
        }

        label {
            margin-bottom: 0;
            padding-top: 0;
        }

        .action-description-title {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}