@import 'variables';
@import 'lib/elements';
@import 'lib/flex';

.group-title{
    display: flex;
    .align-items(center);
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 1px solid;

    .group-name{
        font-weight: bold;
        font-size: 30px;
        margin-right: 15px;
    }

    .group-title-field{
        display: none;
        font-weight: bold;
        font-size: 30px;

    }
    .edit-group-name{
        margin-left: 20px;
        height: 25px;
        width: 25px;
    }
    .global-delete {
        margin-left: auto;
    }
}



.group-page{
    .stats-header{
        margin: 30px 0;
        text-align: center;
    }
    
    .group-content{
        padding: 0 10px;

        .group-element {
            margin-top: 25px;
        }

        .competition-listing{

            .competition-header {
                margin-bottom: 0;
            }

            .competition-item{
                .display(flex);
                padding: 10px 20px;
                border-bottom:1px solid rgba(150,150,150,1);
                background-color: rgba(250,250,250,1);
                .flex-direction(column);
                .comp-name{
                    .display(flex);
                    .name{
                        .flex(1,1,0);
                        font-size: 20px;
                    }
                }
                .comp-desc{
                    padding: 5px 20px;
                    font-style: italic;
                }
            }

            
        }
        .leaderboard-fields{
            margin-bottom: 10px;
            font-size: 1.25em;
            font-weight: bold;
            margin-top: 10px;            
            text-align: center;
        }

        .leaderboard-listing{
            .display(flex);
            text-align: center;

            .place{
                .flex(1,1,0);

            }
            .username{
                .flex(2,1,0);
            }
            .points{
                .flex(1,1,0);
            }
        }

        .leaderboard-content {
            font-size: 1.1em;
            margin-bottom: 5px;
        }
    }

    .action-history {
        .action-taken {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            font-size: 16px;

            .action-title {
                font-weight: bold;
            }

            .action-timestamp {
                color: lighten(#1f1f1f, 40%);
            }
        }
    }

    .section {
        margin-bottom: 20px;
    }
}

.edit-group{

    .items{
        padding:10px;

        .group-name-field{
            font-weight: bold;
            font-size: 30px;
        }
        
        .user-listing, .admin-listing, .action-listing, .competition-listing {
            margin-bottom: 20px;
            margin-top: 10px;

            .edit-form{
                display: none;
            }            

            .competition-item{
                .display(flex);
                .flex-direction(column);
                align-items: stretch;
                
                .comp-name{
                    .display(flex);
                    .name{
                        .flex(1,1,0);
                    }
                }
            }

            .action-container {

                .global:hover {
                    color: @primaryLinkHoverColor;
                    cursor: pointer;
                }

                .awaitingGlobal {
                    opacity: 0.5;
                }

                .awaitingGlobal:hover {
                    opacity: 1;
                }

                .action-title{
                    .flex(1,1,0);
                }
            }

            .user-container {
                .user-profile-link, .action-title{
                    .flex(1,1,0);
                }
            }

            .user-button{
                margin-left: 20px;
                height: 25px;
                width: 25px;
            }
        }

        .remove-group {
            display: block;
            margin-top: 10px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;

        }
        
        .visible{
            display: block !important;
        }
        .hidden{
            display: none;
        }
    }
}

.competition {
    .comp-title{
        .display(flex);
        .justify-content(space-between);
        .align-items(center);
        border-bottom: 1px solid;
        margin-bottom: 10px;

        .center-align {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        .comp-name{
            font-weight: bold;
            font-size: 30px;
            margin-right: 15px;
        }

        .comp-title-field{
            display: none;
            font-weight: bold;
            font-size: 30px;

        }
        .edit-comp-name{
            margin-left: 20px;
            height: 25px;
            width: 25px;
        }

        .group-back-link {
            font-size: 15px;
        }

        .end-date {
            font-weight: bold;
            font-size: 1.25em;
        }
    }

    .description {
        margin-bottom: 15px;
    }

    .leaderboard {
        .flex(1,1,0);
        padding: 10px;

        .leaderboard-fields{
            margin-bottom: 10px;
            font-size: 1.25em;
            font-weight: bold;
            margin-top: 10px;            
            text-align: center;
        }

        .leaderboard-listing{
            .display(flex);
            text-align: center;

            .place{
                .flex(1,1,0);

            }
            .username{
                .flex(2,1,0);
            }
            .points{
                .flex(1,1,0);
            }
        }

        .leaderboard-content {
            font-size: 1.1em;
            margin-bottom: 5px;
        }
    }
}