@import 'variables';
@import 'lib/elements';
@import 'lib/flex';

.container-fluid {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

.navbar {
    padding: 5px;
    margin-bottom: 30px;
    background-color: rgba(27,111,27, 0.8);
    color: white;

    .navbar-header{
        font-size: 30px;
        padding: 10px 30px;
        #ploverlogo{
            margin-right: 15px;
            height: 50px;
            width: 50px;
        }
    }

    .navbar-collapse {
        margin-right: 30px;

        .header-item {
            margin-left: 20px;
        }

        .points {
            font-size: 1.4em;
        }

        @media screen and (min-width: 768px) {
            display: flex !important;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;
        }
    }

    a:hover {
        color: @secondaryLinkHoverColor;
    }

    .logout:hover {
        color: @secondaryLinkHoverColor;
        cursor: pointer;
    }
}