@import 'variables';
@import 'lib/elements';
@import 'lib/flex';


.header-container{
    padding: 10px 30px;
    .display(flex);
    align-items: center;
    background-color: rgba(27,111,27, 0.8);
    color: white;

    .title{
        flex: 1 1 0;
        font-size: 30px;
    }
    /*.points {
        flex: 1 1 0;
        font-size: 30px;
    }*/
    .button-container{
        align-self: flex-end;
    }
}

#main .login-wrapper {
    max-width: @loginFormWidth;
    margin: 2em auto 0 auto;
    color: @secondaryFontColor;

    .at-title .ui.header, label {
        color: @secondaryFontColor;
    }

    .at-form {
        padding: 1em;
        background-color: rgba(0, 0,0, 0.5);
        border-radius: 0.4em;
        .ui.form .at-input.field > label { color: @secondaryFontColor; }
    }

    .actions-wrapper {
        max-width: @loginFormWidth / 2;
        margin: 0 auto;
    }
    
    .at-signup-link {
        margin-top: 0.4em;
    }

    .hello {
        margin-bottom: 1.8em;
    }
}
