@import 'variables';
@import 'lib/elements';
@import 'lib/flex';

.action-samples {
    padding: 20px;
    .display(flex);
    .flex-direction(column);
    .align-items(center);
    .align-content(center);

    .action-sample {
        width: 50%;

        .action-icon {
            height: 100px;
            width: 100px;
            float: left;
            padding: 10px 10px;
        }
    }
}
