// General styles, e. g. for the body tag
@import 'helpers';
@import 'variables';
@import 'lib/elements';
@import 'lib/flex';

/* -------------------
    Main Content
   ------------------- */

body, #main {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: @primaryFontColor;
    font-family: 'Lato', serif;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    background-color: @backgroundColor;
}

#content {
   padding:10px 10%;
   padding-bottom:60px;   /* Height of the footer */
}

a {
    color: inherit;
    transition: 0.3s color;

    &:hover {
        color: @primaryLinkHoverColor;
    }
}

.icon {
    height: 30px;
    width: 30px;
}

.ui.header {
    font-family: 'Glegoo', serif;
}

.site-wrapper {
    margin: 0 auto;
    max-width: @largeDesktopWidth;
}

.section-header{
    .display(flex);
    .justify-content(space-between);
    .align-items(center);
    font-size: 20px;
    /*font-weight: bold;*/
    border-bottom: 1px solid rgba(150,150,150,1);
    margin-bottom: 10px;
    padding-bottom: 10px;
    
    .section-title{
        .flex(1,1,0);
    }
    .new-tag{
        font-size: 14px;
    }
    .new-tag:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

.empty-collection {
    text-align: center;
    font-size: 1.25em;
    margin: 10px;
}

.item-container {
    .display(flex);
    .justify-content(space-between);
    .align-items(center);
    padding: 10px 20px;
    margin: 5px 40px;
    border: 1px solid rgba(150,150,150,1);
    border-radius: 10px;
    background-color: rgba(250,250,250,1);

    @media screen and (max-width: @tabletWidth) {
        margin: 5px 20px;
    }
    .item-title {
        font-size: 1.2em;
    }
    #item-right {
        display: flex;
        align-items:center;
    }
}

/* -------------------
    Footer
   ------------------- */
.footer-container{
    
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;

    .footer {
        .border-radius(0px);
        height: 100%;
        a:hover {
            color: @secondaryLinkHoverColor;
        }
    }
}
