.actions {
	border-right: 1px solid;

	.action-form {
	    margin: 10px 10px 10px 10px;
	}
	.action-form-submit {
	    align: right;
	}
	.panel-title-box {
	    display: flex;
	    justify-content: space-between;
	}
	.action-button {
	    height: 50%;
	}

	.section-heading {
		margin-bottom: 20px;
	}
	.action-display {
		margin: 10px 10px 10px 10px;
	}
	.section {
		margin-bottom: 30px;
	}
}

.new-group-form{
	display: none;
}
.visible{
	display: block !important;
}
#new-group{
		font-size: 14px;
}
#new-group:hover{
	text-decoration: underline;
	cursor: pointer;
}
.groups {
	.section-heading {
		margin-bottom: 20px;
	}
}