.new-group-form{
	display: none;
}
.visible{
	display: block !important;
}
#new-group{
		font-size: 14px;
}
#new-group:hover{
	text-decoration: underline;
	cursor: pointer;
}
.groups {
	.section-heading {
		margin-bottom: 20px;
	}
}


