.category-panel {
  cursor: pointer;
  margin-bottom: 0px;
  border: 0px;
  font-weight: bold;
  .panel-heading {
    background-color: rgba(27, 111, 27, 0.8);
    color: white;
  }
}
.category {
  margin-bottom: 20px;
}

.globality-panel {
  margin-bottom: 0px;
  border: 0px;
  .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    .panel-title-box {
      font-size: 16px;
    }
    background-color: #DADADA;
  }
}

.action-image-box {
  text-align: right;
  .action-image {
    height: 22px;
  }
}


.action-panel {
  cursor: pointer;
  border: 0px;
  margin-bottom: 0px;
  .panel-heading {
    padding: 5px 25px;
    .action-group {
      text-align: right;
    }
  }
}

.action-description {
  padding-left: 16px;
}
.action-panel {
  border: 0px;
	margin-bottom: 0px;
	.panel-heading {
	  padding: 5px 25px;
	}
}
.action-description {
	padding-left: 16px;
}

.action-form {
  margin: 10px 10px 10px 10px;
}
.action-form-submit {
  align: right;
}
.panel-title-box {
  display: flex;
  justify-content: space-between;
}
.action-button {
  padding-bottom: 14px;
}

.section-heading {
	margin-bottom: 20px;
}
.action-display {
	margin: 10px 10px 10px 10px;
}
.section {
	margin-bottom: 30px;
}

