<template name="Group">

<div class="group-page">
  <div class="group-title">
    <span class="group-name">{{name}}</span>
    {{#if admin}}
    <a class="group-edit" href="/group/{{_id}}/edit">Edit group</a>
    {{/if}}
  </div>
  <div class="group-content">
    <div class="left">
      <div class="competition-listing">
        <h3>Competitions</h3>
        {{#each comp in competitions}}
          {{> competition comp}}
        {{/each}}
      </div>
              <h3 class="stats-header">Summary Statistics</h3>

      <div class="stats">
        <div id="actions-donut">
          <h4>Top 5 Actions</h4>
          <canvas id="donutChart" width="400" height="400"></canvas>
        </div>
        <div id="weekly-points">
          <h4>Points Over The Past Week</h4>
          <canvas id="lineChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="right">
      <div>
        <h3>LeaderBoard</h3>
          <div class="leaderboard-listing leaderboard-fields">
            <span class="place">Place</span> <span class="username">Username</span> <span class="points">Points</span>
          </div>
        {{#each user in getUsers}}
          <div class="leaderboard-listing">
            <span class="place">{{increment @index}}</span> <span class="username">{{user.username}}</span> <span class="points">{{user.groupPoints}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

</template>

<template name="editGroup">
  <div class="edit-group">
    <div class="group-title">
      <span class="group-name">{{name}}</span>
      <span class="edit-pen"></span>
    </div>

  </div>
</template>

<template name="competition">
  <div class="competition-item">
    <div class="comp-name">
      <span class="name">{{name}}</span> <span class="end-time"> Ends {{humanDate end}}</span>
    </div>
    <div class="comp-desc">
      <span class="desc">{{description}}</span>
    </div>
  </div>
</template>