<template name="header" class="header-container">
    <div class="title">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {{#unless currentUser}}
        <a href="/"><img id='ploverlogo' src='/images/plover.png'/>{{title}}</a>
        {{else}}
        <a href="/user/profile"><img id='ploverlogo' src='/images/plover.png'/>{{title}}</a>
        {{/unless}}
    </div>
    {{#if currentUser}}
        {{> searchGroups}}
    {{/if}}
    <div class="button-container collapse">
        {{#if currentUser}}
            <span class="header-item points">Global Points: {{currentUser.profile.points}}</span>
            {{#if isGlobalAdmin}}
                <span class="header-item"><a href="/admin">Admin Page</a></span>
            {{/if}}
            <span class="header-item"><a href="/user/{{currentUser._id}}">{{currentUser.profile.firstName}}'s Profile</a></span>
            <span class="header-item logout">Logout</span>
        {{else}}
            <span class="header-item">{{> login}}</span>
        {{/if}}
    </div>
</template>
