<template name="header" class="header-container">
    <div class="title">
        <a href="/">{{title}}</a>
    </div>
    {{#if currentUser}}
        <div class="searchBar col-xs-4 col-sm-4 col-md-4 col-lg-4">{{> searchGroups}}</div>
    {{/if}}
    <div class="button-container">
        {{#if currentUser}}
            <span class="btn header-item">Total Points: {{currentUser.profile.points}}</span>
        {{#if isGlobalAdmin}}
            <span class="btn header-item"><a href="/user/admin">Admin Page</a></span>
        {{/if}}
            <span class="btn header-item"><a href="/user/profile">Profile</a></span>
            <span class="btn header-item logout">Logout</span>
        {{else}}
            <span>{{> login}}</span>
        {{/if}}
    </div>
</template>
