<template name="editGroup">
    <div class="edit-group">
        <div class="group-title" id={{_id}}>
            <span class="group-name"><a href="/group/{{this._id}}">{{name}}</a></span>
            <input class="group-name-field hidden"  value="{{name}}" />
            <input type="image" class="edit-group-name" id={{this._id}} src="/images/edit.svg" />
        </div>
        <div class='items'>
            <div class="action-listing">
                <h3 class="section-header">
                    <span class="section-title">Actions </span><span class="add-actions new-tag">Add Action</span>
                </h3>
                <div class="add-action-form edit-form item-container">
                    {{> addAction}}
                </div>                
                {{#each action in getActions}}
                <div class="action-container item-container">
                    <span class="action-title item-title">{{action.title}}</span>
                    {{#unless action.isGlobal}}
                        {{#if action.needsApproval}}
                            <span>Pending global approval</span>
                        {{else}}
                            <span id={{action._id}} class="global">Submit for global approval</span>
                        {{/if}}
                        <input class="global awaitingGlobal user-button" id={{action._id}} type="image" src="/images/global.svg" />
                    {{else}}
                        <span>Global!</span>
                        <input class="global user-button" id={{action._id}} type="image" src="/images/global.svg" />
                    {{/unless}}
                    <input type="image" class="remove-action user-button" id={{action._id}} src="/images/remove.svg" />
                </div>

                {{else}}
                <div class="empty-collection">No Actions In This Group</div>
                {{/each}}
            </div> 
            <div class="competition-listing">
                <div class="section-header">
                    <span class="section-title">Competitions</span><span class="new-competition new-tag">Add Competition</span>
                </div>
                <div class="add-competition-form edit-form item-container hidden">
                    {{> addCompetition this}}
                </div>
                {{#each competition in getCompetitions}}
                    <div class="competition-item item-container">
                        <div class="comp-name">
                            <span class="name item-title"><a href="/competitions/{{competition._id}}">{{competition.name}}</a></span> 
                            <span class="end-time"> Ends {{humanDate competition.end}}</span>
                            <input type="image" class="remove-comp user-button" id={{competition._id}} src="/images/remove.svg" />
                        </div>
                        <div class="comp-desc">
                            <span class="desc">{{competition.description}}</span>
                        </div>
                    </div>
                {{else}}
                <div class="empty-collection">No Competitions Currently</div>
                {{/each}}
            </div>   
            <div class="user-listing">
                <div class="section-header">
                    <span class="section-title">Users </span><span class="add-user new-tag">Add User</span>
                </div>
                <form class="add-user-form edit-form item-container">
                    <div class=" form-group">
                        <label>Username:</label> <input class="form-control" name="username" type="text">
                    </div>
                    <input class="btn btn-default" type="submit" value="Add User">        
                </form>
                {{#each user in getUsers}}
                <div class="user-container item-container">
                    <a class="user-profile-link item-title" href="/user/{{_id}}">{{user.username}}</a>
                    {{#if diff user._id}}
                    <input type="image" class="remove-user user-button" id={{user._id}} src="/images/remove.svg" />
                    {{/if}}
                </div>              
                {{else}}
                <div class="empty-collection">No Users In This Group</div>
                {{/each}}
            </div>
            <div class="admin-listing">
                <div class="section-header">
                    <span class="section-title">Admins </span><span class="add-admin new-tag">Add Admin</span>
                </div>
                <form class="add-admin-form edit-form item-container">
                    <div class=" form-group">
                        <label>Username:</label> <input class="form-control" name="username" type="text">
                    </div>
                    <input class="btn btn-default" type="submit" value="Add Admin">        
                </form>
                {{#each admin in getAdmins}}
                <div class="user-container item-container">
                    <a class="user-profile-link item-title" href="/user/{{_id}}">{{admin.username}}</a>
                    {{#if diff admin._id}}
                    <input type="image" class="remove-admin user-button" id={{admin._id}} src="/images/remove.svg" />
                    {{/if}}
                </div>                    
                {{else}}
                <div class="empty-collection">No Admins In This Group</div>
                {{/each}}
            </div>
            <div class="user-listing">
                <div class="section-header">
                    <span class="section-title">Users Requesting To Join</span>
                </div>
                {{#each user in getUserRequests}}
                
                <div class="user-container item-container">
                    <a class="user-profile-link item-title" href="/user/{{_id}}">{{user.username}}</a>
                    {{#if diff user._id}}
                        <input type="image" class="request-user user-button" id={{user._id}} src="/images/add.svg" />
                        <input type="image" class="remove-user user-button" id={{user._id}} src="/images/remove.svg" />
                    {{/if}}
                </div>
                {{else}}
                <div class="empty-collection">No Join Requests Currently</div>
                {{/each}}
            </div>

        </div>

    </div>
</template>
