<template name="changePassword">
  <form id="new-password" action="action">
    <div class="form-group">
        <label for="new-password">Enter your new password:</label>
        <input type="password" class="form-control" name="password" id="new-password" />
    </div>
    <div class="form-group">
        <label for="new-password-confirm">Enter your new password again:</label>
        <input type="password" class="form-control" name="confirm" id="new-password-confirm" />
    </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</template>
