@import '../variables';
@import '../lib/elements';
@import '../lib/flex';

.profile-container{
    .display(flex);
    .left{
        .flex(1, 1, 0);
    }
    .right{
        .flex(1, 1, 0);
    }
}

.groups {
    /*#my-groups{
        min-height: 300px;
    }
    */
    .section-header {
        border-bottom: 1px solid rgba(150,150,150,1);
        padding-bottom: 10px;
        margin-bottom: 5px;

        display: flex;
        align-items:center;

        h3 {
            margin-bottom: 0;
        }

        #new-group {
            margin-left: 10px;
        }
    }

    #my-competitions {
        margin-top: 30px;
    }
}