@import '../variables';
@import '../lib/elements';
@import '../lib/flex';

.form-group{
  margin-right: 10px;
}

#add-action-title {
	font-weight: bold;
	font-size: 30px;
	border-bottom: 1px solid;
	margin-bottom: 20px;
}

.to-add {
	display: block;
	vertical-align: middle;

	label {
		/*display: inline-block;*/
		text-align: right;
		padding-right: 15px;
		width: 20%;
	}

	input {
		display: inline-block;
		width: 80%;
	}
}

#add-fields {
	width: 90%;
	margin: 30px auto;

	.add-fields-header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items:center;

		border-bottom: 1px solid;
	}
}

.field {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items:center;

	.form-control {
		margin: 0 10px;
	}

	input[type="radio"] {
		height: 3em;
		width: 3em;
		margin: 0 10px;
	}
}