@import '../variables';
@import '../lib/elements';
@import '../lib/flex';

/*.form{
	padding: 0 10%;

	.form-group {
		padding: 0 5px;
	}
}

.login-form {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	display: inline;
}*/

.form-group{
  margin-right: 10px;
}